@import "../../Variables";

* {
    margin: $margin;
    padding: $padding;
    box-sizing: $border-box;
}

.skills {
    height: 100vh;
    margin-top: -56px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h2 {
    text-align: center;
    margin: 1rem;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    text-align: center;

    div {
        text-align: center;
        // flex-grow: 1;
        width: 40vw;
    }

    p {
        margin: 0px;
    }
}