@import "../../Variables";

* {
    margin: $margin;
    padding: $padding;
    box-sizing: $border-box;
}

.skills {
    height: 100vh;
    margin-top: -56px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h2 {
    text-align: center;
    margin: 2rem;
}

.skillsContainer {
    display: flex;
    justify-content: center;
  
    div {
        text-align: center;
        width: 300px;
        border: 4px solid $primary-color;
        border-radius: 15%;
        margin: 5vw; 
        box-shadow: 10px 10px 5px grey;
    }

    p {
        margin: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .skillsContainer {
        flex-direction: column;
        align-items: center;

    }

    .skills {
        justify-content: end;
    }
}