@import "../../Variables";

* {
    margin: $margin;
    padding: $padding;
    box-sizing: $border-box;
}

h3 {
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    text-align: center;

    div {
        text-align: center;
        flex-grow: 1;
        width: 40vw;
    }

    p {
        margin: 0px;
    }
}