@import "../../Variables";


a {
    color: black !important;
}

h3 {
    color: $primary-txt-color;
}

.projectArea {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.icon {
    transform: scale(2);
}

.icons {
    margin: 1.2rem;
}

.projectImage {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

