@import "../../Variables";


a {
    color: black !important;
}

h3 {
    color: $primary-color;
    text-align: center;
}

.projectArea {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.icon {
    transform: scale(2);
}

.link {
    color: $primary-color !important;
}

p {
    margin: 0px 10px;
}
.icons {
    margin: 1.2rem;
    display: flex;
}

.iconTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectImage {
    width: 30vw;
    height: auto;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .project {
        flex-direction: column;
    }

    .projectImage {
        width: 50vw;
        height: auto;
        border: 1px solid black;
    }

    p {
        font-size: 15px !important;
    }
}