@import "../../Variables";

a {
    color: black !important;
}

h3 {
    color: $primary-color;
    text-align: center;
}

.websiteArea {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.icon {
    transform: scale(2);
}

.link {
    color: $primary-color !important;
}

p {
    margin: 0px 10px;
}

.icons {
    margin: 1.2rem;
    display: flex;
}

.iconTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.websiteImage {
    width: 30vw;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .website {
        flex-direction: column;
    }

    .websiteImage {
        width: 50vw;
        height: auto;
    }

    p {
        font-size: 15px !important;
    }
}