@import "../../Variables";

* {
    margin: $margin;
    padding: $padding;
    box-sizing: $border-box;
}

#aboutMe  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin-top: -56px;
    padding-top: 56px;
}

.spanTxt {
    color: $primary-color;
    font-weight: bolder;
}

.aboutMeLeft {
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    justify-content: center;
    height: auto;
    width: 30vw;

    img { 
        width: 100%;
        height: 100%;
    }
}

.aboutMeRight {
    margin: 1rem;

    .aboutTxt {
        margin-bottom: 0;
        font-size: 30px;
    }
}


@media only screen and (max-width: 600px) {
    #aboutMe {
        flex-direction: column;
    }

    .aboutMeRight {
        display: flex;
        text-align: center;
    }
}