@import "../../Variables";

h3 {
    text-align: center;
}

.projectArea {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}

.project {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    position: relative;
}

.projectName {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    
    
    &:hover {
        opacity: 0.5;
    }
}