@import "../../Variables";

#brandTop {
    margin: 0;
    color: white; 
}

.navbar {
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    padding: 0px 10px !important;
    margin: 0;
    background-color: $primary-color;
}

a {
    margin: 0px 5px;
}

.nav-item {
    a {
        color: white !important;
        margin: 0px 5px;
    }
}

