@import "../../Variables";

* {
    margin: $margin;
    padding: $padding;
    box-sizing: $border-box;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin-top: -56px;
    padding-top: 56px;
}
a {
    text-decoration: none !important;
}
h1 {
    margin: 2rem;
}

h2 {
    margin: 0;
}

.iconContactBox {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;

    .textBox {
        padding-left: 5vw;
    }
}
