@import "../../Variables";

* {
    margin: $margin;
    padding: $padding;
    box-sizing: $border-box;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: -56px;
    padding-top: 56px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none !important;
}
h1 {
    margin: 2rem;
    align-items: center;
}

.iconContactBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.icon {
    margin: 2rem;
}

