@import "./Fonts";

$font-stack: "Roboto-Regular";

$font-color: #273036;
$primary-color: #f05912;
$primary-txt-color: #04495e;
$secondary-txt-color: #212529; 

$margin: 0;
$padding: 0;
$border-box: border-box;